* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #10162f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    list-style-type: none;
    
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav ul li {
    font-size: 1.2rem;
    list-style-type: none;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -6px; /* Position sous le texte */
  left: 100%; /* Départ à droite */
  width: 0%;
  height: 3px;
  background-color: white; /* Couleur de la barre */
  transition: all 0.3s ease-in-out;
}


nav ul li a:hover::after {
  left: 0%; /* Fait partir de la droite vers la gauche */
  width: 100%; /* Barre complète */
}

